

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        


    - name: Build jfreechart with Maven including Jacoco
      run: |
        cd TP2/src/main/resources/jfreechart-master
        mvn clean verify

    - name: Copy Jacoco csv to resources TP2
      run: cp TP2/src/main/resources/jfreechart-master/target/site/jacoco/jacoco.csv TP2/src/main/resources/jacoco.csv

    - name: Commit and push Jacoco csv file
      env:
        PERSONAL_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add TP2/src/main/resources/jacoco.csv
        git commit -m "Update Jacoco csv file"
        git remote set-url origin https://$PERSONAL_ACCESS_TOKEN@github.com/MahdiMoghadasi/IFT3913.git
        git push
        
    - name: Build TP2 with Maven
      run: |
        cd TP2
        mvn clean verify
        
    # - name: Upload jfreechart target files
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: jfreechart-target
    #     path: TP2/src/main/resources/jfreechart-master/target/
    
    - name: Upload JaCoCo report
      uses: actions/upload-artifact@v2
      with:
        name: jacoco-report
        path: TP2/src/main/resources/jfreechart-master/target/site/jacoco/
        
    # - name: Upload TP2 target files
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: TP2-target
    #     path: TP2/target/
    





